body
	 { 
	   margin-left: 0px;
	   margin-top: 0px;
	   margin-right: 0px;
	   margin-bottom: 0px;
	   background-color: #FFFFFF;
	   BACKGROUND-POSITION: 50% top;
	   background-repeat: repeat-x;
	 }
 	.text_def {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333366;
	text-decoration: none;
	}
	.text_def a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333366;
		text-decoration: none;
	}
	.text_def a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333366;
		text-decoration: none;
	}
	.text_def a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FF00FF;
		text-decoration: underline;
	}
	.text_def a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333366;
		text-decoration: none;
	}
	.text_def ,table {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333366;
		text-decoration: none;
	}
	.bg_search
	{
    BORDER-BOTTOM: #FFFFFF 1px solid;
    BORDER-LEFT: #FFFFFF 1px solid;
    BORDER-RIGHT: #FFFFFF 1px solid;
    BORDER-TOP: #FFFFFF 1px solid;
    COLOR: #999999;
    CURSOR: cusor;
    FONT-FAMILY: Arial,sans-serif;
    font-size: 12px;
	background-color: #78B9D5;
	width: 180px;
   }
	.textfield
	{
    BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    COLOR: #000000;
    CURSOR: cusor;
    FONT-FAMILY: Arial,sans-serif;
    font-size: 12px;
	background-color: #FFFFFF;
   }

	.search_replace {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	text-decoration: none;
	background-color: #FFFF00;
	}
	.block_1_top 
	{
	 BACKGROUND-IMAGE: url(block_1_top.gif); 
	 BACKGROUND-REPEAT: repeat-x;
	 BORDER-TOP: #fcdff5 1px solid;
	 width: 150 px;
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 24px;
	}
	.block_1_center
	{
	 BORDER-LEFT: #fcdff5 1px solid;
	 BORDER-RIGHT: #fcdff5 1px solid;
	 BORDER-BOTTOM: #fcdff5 1px solid;
	 background-color: #ffffff;
	 width: 150 px;
	}
	.block_1_bottom
	{
	   BACKGROUND-IMAGE: url(block_1_bottom.gif); 
	   BACKGROUND-POSITION: 50% bottom; 
	   BACKGROUND-REPEAT: repeat-x;
	   width: 150 px;
	   padding-bottom: 1px;
	}
	.block_1_title 
	{
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 24px;
	
	 
	}
	.block_1_title a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_1_title a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_1_title a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: underline;
	}
	.block_1_title a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_2_top 
	{
	 BACKGROUND-IMAGE: url(block_1_top.gif); 
	 BACKGROUND-REPEAT: repeat-x;
	 BORDER-TOP: #fcdff5 1px solid;
	 width: 200 px;
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 24px;
	}
	.block_2_center
	{
	 BORDER-LEFT: #fcdff5 1px solid;
	 BORDER-RIGHT: #fcdff5 1px solid;
	 BORDER-BOTTOM: #fcdff5 1px solid;
	 background-color: #ffffff;
	 width: 200 px;
	}
	.block_2_bottom
	{
	   BACKGROUND-IMAGE: url(block_1_bottom.gif); 
	   BACKGROUND-POSITION: 50% bottom; 
	   BACKGROUND-REPEAT: repeat-x;
	   width: 200 px;
	   padding-bottom: 1px;
	}
	.block_2_title 
	{
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 24px;

	}
	.block_2_title a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_2_title a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_2_title a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: underline;
	}
	.block_2_title a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_3_top 
	{
	 BACKGROUND-IMAGE: url(block_3_top.gif); 
	 BACKGROUND-REPEAT: repeat-x;
	 BORDER-LEFT: #892F2F 1px solid;
	 BORDER-RIGHT: #892F2F 1px solid;
	 border-top: #892F2F 1px solid;
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 18px;
	}
	.block_3_center
	{
	 BORDER-BOTTOM: #892F2F 1px solid;
	 border-left: #892F2F 1px solid;
	 border-right: #892F2F 1px solid;
	 background-color: #FFEEEE;
	}
	.block_3_title 
	{
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 20px;
	}
	.block_3_title a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_3_title a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_3_title a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: underline;
	}
	.block_3_title a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_4_top 
	{
	 BACKGROUND-IMAGE: url(block_4_top.gif); 
	 BACKGROUND-REPEAT: repeat-x;
	 BORDER-LEFT: #CED5DB 1px solid;
	 BORDER-RIGHT: #CED5DB 1px solid;
	 border-top: #CED5DB 1px solid;
	 border-bottom: #CED5DB 1px solid;
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 18px;
	}
	.block_4_center
	{
	 BORDER-BOTTOM: #CED5DB 1px solid;
	 border-left: #CED5DB 1px solid;
	 border-right: #CED5DB 1px solid;
	 background-color: #F1F4F6;
	}
	.block_4_title 
	{
	 color: #63617C;
	 font-size: 12px;
	 font-weight: bold;
	 height: 20px;
	}
	.block_4_title a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #63617C;
		text-decoration: none;
	}
	.block_4_title a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #63617C;
		text-decoration: none;
	}
	.block_4_title a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #63617C;
		text-decoration: underline;
	}
	.block_4_title a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #63617C;
		text-decoration: none;
	}
	.block_5_top 
	{
	 BACKGROUND-IMAGE: url(block_5_top.gif); 
	 BACKGROUND-REPEAT: repeat-x;
	 BORDER-LEFT: #7D8091 0px solid;
	 BORDER-RIGHT: #7D8091 0px solid;
	 border-top: #7D8091 0px solid;
	 border-bottom: #7D8091 0px solid;
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 26px;
	}
	.block_5_center
	{
	 BORDER-BOTTOM: #7D8091 1px solid;
	 border-left: #7D8091 1px solid;
	 border-right: #7D8091 1px solid;
	 background-color: #F1F4F6;
	}
	.block_5_title 
	{
	 color: #FFFFFF;
	 font-size: 12px;
	 font-weight: bold;
	 height: 26px;
	}
	.block_5_title a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_5_title a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.block_5_title a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #63617C;
		text-decoration: underline;
	}
	.block_5_title a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FFFFFF;
		text-decoration: none;
	}
	.search_left 
	{
	
	 BACKGROUND-REPEAT: repeat-x;
	 width: 9px;
	 height: 44px;
	}
	.search_right
	{
	 
	 BACKGROUND-REPEAT: repeat-x;
	 width: 8px;
	 height: 44px;
	}
	.search_center
	{
	  
	   BACKGROUND-REPEAT: repeat-x;
	   height: 44px;
	   width: 260px;
	}
	.search_center_2
	{
	   
	   BACKGROUND-REPEAT: repeat-x;
	   height: 44px;
	   width: 245px;
	}
	.search_input {
		BORDER-RIGHT: #E6E6E6 1px solid; 
		BORDER-TOP: #E6E6E6 1px solid; 
		BORDER-LEFT: #E6E6E6 1px solid; 
		BORDER-BOTTOM: #E6E6E6 1px solid;
		COLOR: #000000; 
		FONT: bold 12px Arial;
	}
	.search_button {
		DISPLAY: block; FONT-SIZE: 13px; BACKGROUND: url(bottom.html) no-repeat; WIDTH: 100px; COLOR: #fff; LINE-HEIGHT: 23px; TEXT-ALIGN: center;
	}
	.search_button1 {
		BACKGROUND-POSITION: center -115px;
		COLOR: #fff;
	}
	
	.block_bottom_1 
	{
	   background-color:#FFFFFF;
	   BACKGROUND-POSITION: 100% bottom; 
	   BACKGROUND-IMAGE: url(block_bottom_1.gif); 
	   BORDER-RIGHT: #E6E6E6 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #E6E6E6 1px solid; 
	   BORDER-BOTTOM: #E6E6E6 1px solid; 
	   BACKGROUND-REPEAT: repeat-x
	}
	.block_bottom_2 
	{
	   background-color:#FFFFFF;
	   BACKGROUND-POSITION: 100% bottom; 
	   BACKGROUND-IMAGE: url(block_bottom_2.gif); 
	   BORDER-RIGHT: #E6E6E6 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #E6E6E6 1px solid; 
	   BORDER-BOTTOM: #E6E6E6 1px solid; 
	   BACKGROUND-REPEAT: repeat-x
	}
	.block_bottom_3 
	{
	   background-color:#FFFFFF;
	   BACKGROUND-POSITION: 100% bottom; 
	   BACKGROUND-IMAGE: url(block_bottom_2.gif); 
	   BORDER-RIGHT: #E6E6E6 0px solid; 
	   BORDER-TOP: #E6E6E6 0px solid; 
	   BORDER-LEFT: #E6E6E6 0px solid; 
	   BORDER-BOTTOM: #E6E6E6 0px solid; 
	   BACKGROUND-REPEAT: repeat-x;
	   height: 70px;
	}
	.bg_center_sub 
	{
	   BORDER-RIGHT: #CCCCCC 1px solid; 
	   BACKGROUND-POSITION: 50% bottom; 
	   BORDER-TOP: #CCCCCC 1px solid; 
	   BORDER-LEFT: #CCCCCC 1px solid; 
	   BORDER-BOTTOM: #CCCCCC 1px solid;
	}
	.bg_all_top {
		BACKGROUND-REPEAT: repeat-y;
		background-image: url(bg_all_top.gif); 
		}
	.bg_all_bottom {
		BACKGROUND-POSITION: 50% bottom;
		BACKGROUND-IMAGE: url(bg_all_bottom.gif); 
		BACKGROUND-REPEAT: repeat-x;
		height: 8px;
	}
	.bg_bottom {
		BACKGROUND-IMAGE: url(bg_bottom.gif);
		BACKGROUND-REPEAT: repeat-x;
		background-color: #898989;
	}
	.bg_bottom_2 {
		BACKGROUND-IMAGE: url(bg_bottom_2.gif); 
		BACKGROUND-REPEAT: repeat-x;
	}

	.title {
		PADDING-RIGHT: 8px; 
		PADDING-LEFT: 8px; 
		FONT-WEIGHT: bold; 
		PADDING-BOTTOM: 0px; 
		COLOR: #FFFFFF; 
		PADDING-TOP: 0px;
		font-size: 12px;
		font-weight: bold;
	}
	.title_2 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #0063AF;
		font-weight: bold;
	}
	.title_3 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
		color: #0065CC;
		font-weight: bold;
	}
	.title_center {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	color: #333333;
	BACKGROUND: url(bg_title_page.gif) repeat-x;
	BACKGROUND-POSITION:10% bottom ;
	height: 31px;
	}
	.text_date {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #999999;
		font-style: italic;
	}
	.title_center a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #333333;
	}
	.title_center a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.title_center a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.title_center a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.title_page {
	font-family: Tahoma;
	font-size: 18px;
	color: #0065CC; 
	text-decoration: none;
	font-weight: bold;
	DISPLAY: block; 
	BACKGROUND: url(bg_title_page.gif) repeat-x;
	BACKGROUND-POSITION: 0% bottom ;
	height: 31px;
	padding-bottom: 0px;
	padding-top: 3px;
	}
	.title_page a:link{
	font-family: Tahoma;
	font-size: 18px;
	color: #0065CC;
	text-decoration: none;
	}
	.title_page a:visited{
	font-family: Tahoma;
	font-size: 18px;
	color: #0065CC;
	text-decoration: none;
	}
	.title_page a:hover{
	font-family: Tahoma;
	font-size: 18px;
	color: #0065CC;
	text-decoration: none;
	}
	.title_page a:active{
	font-family: Tahoma;
	font-size: 18px;
	color: #0065CC;
	text-decoration: none;
	}
	.title_hotnews {
	font-family: Tahoma;
	font-size: 14px;
	color: #0065CC; 
	text-decoration: none;
	font-weight: bold;
	DISPLAY: block; 
	BACKGROUND: url(bg_title_page.gif) repeat-y;
	BACKGROUND-POSITION: 0% bottom ;
	height: 20px;
	padding-bottom: 0px;
	padding-top: 3px;
	}
	.title_hotnews a:link{
	font-family: Tahoma;
	font-size: 14px;
	color: #0065CC;
	text-decoration: none;
	}
	.title_hotnews a:visited{
	font-family: Tahoma;
	font-size: 14px;
	color: #0065CC;
	text-decoration: none;
	}
	.title_hotnews a:hover{
	font-family: Tahoma;
	font-size: 14px;
	color: #0065CC;
	text-decoration: none;
	}
	.title_hotnews a:active{
	font-family: Tahoma;
	font-size: 14px;
	color: #0065CC;
	text-decoration: none;
	}
	.gia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF1D00;
	text-decoration: none;
	font-weight: bold;
	}
	.text_hotnews {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B51D4C; 
	text-decoration: none;
	font-weight: bold;
	}
	.text_hotnews a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #B51D4C;
	}
	.text_hotnews a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #B51D4C;
		text-decoration: none;
	}
	.text_hotnews a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #B51D4C;
		text-decoration: none;
	}
	.text_hotnews a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #B51D4C;
		text-decoration: none;
	}
 .bg_all{
 background-color: #FFF;
 }	
  .bg_top{ 

		background-repeat:repeat-x;
	    BACKGROUND-POSITION: 50% top; 
		height: 129px;
  }
  .bg_top_2{ 
		background-image:url(bg_top_2.gif);
		background-repeat:repeat-x;
	    BACKGROUND-POSITION: 50% top; 
		height: 121px;
		padding-bottom: 8px;
  }
  .bg_menu_top{ 
 		background-image:url(bg_menu_top.gif); 
		background-repeat:repeat-x;
		height: 38px;
  }
  
  .bg_cart{ 
 		background-image:url(bg_cart.html); 
		background-repeat:repeat-y;
  }

   .bg_left{
   background-color:#FFFFFF;
   }
   .bg_right {
	   background-color: #FFF;
	}
	.border_left_right{
	 BORDER-RIGHT: #FFF 1px solid; 
	 BORDER-LEFT: #FFF 1px solid; 
	}
	.border_left{
	 BORDER-LEFT: #CCCCCC 1px solid; 
	}
	.border_b{
	 BORDER-BOTTOM: #CCCCCC 1px dotted; 
	}
	.border_t{
	 BORDER-TOP: #CCCCCC 1px dotted;
	}
	.border_b_line{
	border-bottom: 1px solid #CCCCCC;
	}
	.border_b_index{
	 BORDER-BOTTOM: #CCCCCC 1px dotted;
	 font-family: Georgia, "Times New Roman", Times, serif;
	}    
	.border_images{
	   BORDER-RIGHT: #7D8091 0px solid;
	   BORDER-TOP: #7D8091 0px solid;
	   BORDER-LEFT: #7D8091 0px solid;
	   BORDER-BOTTOM: #7D8091 0px solid;
	}
	.border_images a:hover { border-color: #0066CC; }
	
.makers { margin:0px; padding:0px; padding-bottom:2px; }
.makers a { display:block; margin:auto; padding:3px; text-align:center; border:solid 1px #D9CDCC; background:#fff; }
.makers a:hover { border-color: #0066CC; }

.makers_detail { margin:0px; padding:0px; padding-bottom:2px; }
.makers_detail a { display:block; margin:auto; padding:5px; text-align:center; border:solid 1px #D9CDCC; background:#fff; }
.makers_detail a:hover { border-color: #0066CC; }

#specs-list { }
#specs-list p { padding: 4px 6px; font-size: 12px; background: #F1F0E5; border-bottom: solid 1px #fff; }
#specs-list p a { color: #7D7464; text-decoration: underline; }
#specs-list table { background: #F5F5F5; }
#specs-list caption { display: none; }
#specs-list th, #specs-list td { padding: 1px 6px; font: 12px Arial; vertical-align: top; color:#58595B; border:1px solid #FFF; }
#specs-list th { font-weight: bold; text-transform: uppercase; color: #000; background-color:#E7E7E7; text-align:left; }
#specs-list td { background: #F5F5F5; }
#specs-list td.ttl { font-weight:bold; width:120px; }
#specs-list td.price { font-weight:bold; color:#FF6C02; }

	.border_page{
	   BORDER-RIGHT: #7D8091 1px solid;
	   BORDER-TOP: #7D8091 1px solid;
	   BORDER-LEFT: #7D8091 1px solid;
	   BORDER-BOTTOM: #7D8091 1px solid;
	   padding-bottom: 6px;
	   padding-left: 6px;
	   padding-right: 6px;
	   padding-top: 6px;
	}
	.border_banner{
	   BORDER-RIGHT: #7D8091 1px solid;
	   BORDER-TOP: #7D8091 1px solid;
	   BORDER-LEFT: #7D8091 1px solid;
	   BORDER-BOTTOM: #7D8091 1px solid;
	   padding-bottom: 0px;
	   padding-left: 0px;
	   padding-right: 0px;
	   padding-top: 0px;
	}
	.nut
	{
	background-color: #666666;
    BORDER-BOTTOM: #fff 1px solid;
    BORDER-LEFT: #fff 1px solid;
    BORDER-RIGHT: #fff 1px solid;
    BORDER-TOP: #fff 1px solid;
    COLOR: #FAFFB2;
    CURSOR: cusor;
    FONT-FAMILY: Arial,sans-serif;
    font-size: 12px;
	height: 21px;
   }
	.select 
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #444444;
	}
	.path {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	}
	.path a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		font-weight: bold;
	}
	.path a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
		font-weight: bold;
	}
	.path a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: underline;
		font-weight: bold;
	}
	.path a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
		font-weight: bold;
	}
   .tab_banner_top {
    padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right: 5px;
	}
   .tab_3_3_3_3 {
    padding-top:3px;
	padding-bottom:2px;
	padding-left:3px;
	padding-right:3px;
	}
   .tab_4_4_4_4 {
    padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	}
   .tab_8_8_8_8 {
    padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	}
   .tab_3_3 {
	padding-left:5px;
	padding-right:5px;
	}
   .tab_5_5 {
	padding-left:5px;
	padding-right:5px;
	}
   .tab_8_8 {
	padding-left:8px;
	padding-right:8px;
	}
	.tab_5{
	padding-left: 5px;
	}
	.text_lg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	}
	.text_lg a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000000;
		text-decoration: none;
	}
	.text_lg a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000000;
		text-decoration: none;
	}
	.text_lg a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #999999;
		text-decoration: underline;
	}
	.text_lg a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000000;
		text-decoration: none;
	}
	.text_search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	}
	.text_search a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_search a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_search a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #333333;
		text-decoration: underline;
	}
	.text_search a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_menu_top {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	}
	.text_menu_top a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_menu_top a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_menu_top a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color:#333333;
		text-decoration: underline;
	}
	.text_menu_top a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_menu_bottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	}
	.text_menu_bottom a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_menu_bottom a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_menu_bottom a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color:#333333;
		text-decoration: underline;
	}
	.text_menu_bottom a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.tieu_de {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	}
	.tieu_de a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #333333;
	}
	.tieu_de a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.tieu_de a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #0063AF;
		text-decoration: underline;
	}
	.tieu_de a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
   .tieu_de_tin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0063AF;
	text-decoration: none;
	font-weight: bold;
	}
	.tieu_de_tin a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #0063AF;
	}
	.tieu_de_tin a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}
	.tieu_de_tin a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #EA2222;
		text-decoration: underline;
	}
	.tieu_de_tin a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}
   .tieu_de_san_pham {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #721261;
	text-decoration: none;
	}
	.tieu_de_san_pham a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #721261;
	}
	.tieu_de_san_pham a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #721261;
		text-decoration: none;
	}
	.tieu_de_san_pham a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FF00FF;
		text-decoration: underline;
	}
	.tieu_de_san_pham a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #721261;
		text-decoration: none;
	}
   .tieu_de_tin_moi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #721261;
	text-decoration: none;
	}
	.tieu_de_tin_moi a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #721261;
	}
	.tieu_de_tin_moi a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #721261;
		text-decoration: none;
	}
	.tieu_de_tin_moi a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #FF00FF;
		text-decoration: underline;
	}
	.tieu_de_tin_moi a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #721261;
		text-decoration: none;
	}
	.bg_title{
	DISPLAY: block; FONT-SIZE: 13px; BACKGROUND: url(bg_title_center.gif) no-repeat; COLOR: #fff; LINE-HEIGHT: 1px; TEXT-ALIGN: center;
   height: 25px;
   }
	.border_table { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-bottom: #E8E8E8 0px solid;
	border-left: #E8E8E8 0px solid;
	border-right: #E8E8E8 0px solid;
	border-top: #E8E8E8 0px solid;
	background-color: #F2F2F2;
	}
	.table_newscat { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	border-bottom: #E8E8E8 1px solid;
	border-left: #E8E8E8 1px solid;
	border-right: #E8E8E8 1px solid;
	border-top: #E8E8E8 1px solid;
	background-color: #F1F4F6;
	background-image: url(bg_newscat.png);
	background-repeat: repeat-x;
	COLOR: #fff; 
	LINE-HEIGHT: 1px; 
	TEXT-ALIGN: left;
	height: 23px;
	}
	.add_cart {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		text-decoration: none;
		COLOR: #EA0702;
		font-weight: bold;
	}
	.add_cart a:link{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-style: normal;
		color: #EA0702;
		text-decoration: none;
		font-weight: bold;
	}
	.add_cart a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-style: normal;
		color: #EA0702;
		text-decoration: none;
	}
	.add_cart a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-style: normal;
		color: #333333;
		text-decoration: underline;
	}
	.add_cart a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-style: normal;
		color: #EA0702;
		text-decoration: none;
	}
	.weblink {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		text-decoration: none;
		COLOR: #0063AF;
	}
	.weblink a:link{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}
	.weblink a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}
	.weblink a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #333333;
		text-decoration: underline;
	}
	.weblink a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}
	.more {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		text-decoration: none;
		COLOR: #0063AF;
	}
	.more a:link{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}
	.more a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}
	.more a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000000;
		text-decoration: underline;
	}
	.more a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #0063AF;
		text-decoration: none;
	}

	.more_menu {
		   HEIGHT: 20px;
		   TEXT-DECORATION: none;
		   font-family: Arial, Helvetica, sans-serif;
		   font-size: 12px;
		   color: #4C4C4C;
		  }
	.more_menu A {
		   PADDING-LEFT: 7px;
		   HEIGHT: 20px;
		   TEXT-DECORATION: none;
		   color: #4C4C4C;
		   padding-top: 4px;
		  }
	.more_menu A:link {
		   PADDING-LEFT: 7px;
		   TEXT-DECORATION: none;
		   color: #4C4C4C;
		  }
	.more_menu A:active {
		   PADDING-LEFT: 7px;
		   TEXT-DECORATION: none;
		   color: #4C4C4C;
		  }
	
	.more_menu A:hover 
		 {
		   PADDING-LEFT: 7px;
		   TEXT-DECORATION: underline;
		   color: #333333;
		   }
	.text_trang 
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	}
	.text_trang a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000;
		text-decoration: none;
	}
	.text_trang a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000;
		text-decoration: none;
	}
	.text_trang a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FF0000;
		text-decoration: underline;
	}
	.text_trang a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000;
		text-decoration: none;
	}
	
/* Ajax tab */
.shadetabs{
padding: 3px 0; /*Cach menu tren nhu the nao*/
margin-left: 0;
margin-top: 1px;

     border-bottom: 1px solid #ff99f2;
font: bold 11px Arial, Helvetica, sans-serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
padding: 4px 5px; /* So phia truoc la dinh dang khang cach duoi cua box*/
margin-right: 1px;

font: bold 11px Arial, Helvetica, sans-serif;
color: #333333;
background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #333333;
font: bold 11px Arial, Helvetica, sans-serif;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #000000;
font: bold 11px Arial, Helvetica, sans-serif;
}

.shadetabs li.selected{
position: relative;
top: 0px;
font: bold 11px Arial, Helvetica, sans-serif;
}

.shadetabs li.selected a{ /*selected main tab style */
background-image: url(shadeactive.gif);
padding: 3px 5px; /* So phia truoc la dinh dang khang cach duoi cua box*/
margin-right: 1px;
border-bottom: #FFFFFF 0px solid;
color: #FFFFFF;
font: bold 11px Arial, Helvetica, sans-serif;
}
.shadetabs li.active a{ /*selected main tab style */
color: #FFFFFF;
font: bold 11px Arial, Helvetica, sans-serif;
}
.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
font: bold 11px Arial, Helvetica, sans-serif;
color:#FFFFFF;
}
.shadetabs li.selected a:active{ /*selected main tab style */
text-decoration: none;
font: bold 11px Arial, Helvetica, sans-serif;
color:#FFFFFF;
}

.contentstyle{
BORDER-RIGHT: 1px solid #fc7ae5; 
BORDER-TOP: 4px solid #fc7ae5; 
BORDER-LEFT: 1px solid #fc7ae5; 
BORDER-BOTTOM: 1px solid #fc7ae5;
width: 597px;
margin-bottom: 1em; padding: 5px; /* Dinh dang phia trong cho noi dung cach bien la bao nhieu px*/
}

.bg3{
	background-color: #E8E6D9;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	font-size: 12px;
	color: #FFFFFF;
}
.bg_login{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0063AF;
}
.tieu_de_login{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	font-size: 12px;
	color: #FFF;
	padding-left: 20px;
}

.nut_nhan {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background-color:#FFFBFF;
}
.nut_nhan_2{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	BORDER-RIGHT: 1px solid #0063AF; 
	BORDER-TOP: 1px solid #999999; 
	BORDER-LEFT: 1px solid #999999; 
	BORDER-BOTTOM: 1px solid #0063AF;
}

.input
{
	FONT:11px Arial, Helvetica, sans-serif; 
	BORDER-RIGHT: #757c7f 1px solid; 
	BORDER-TOP: #757c7f 1px solid; 
	font-size: 12px; 
	BORDER-LEFT: #757c7f 1px solid; 
	color: #0063AF; 
	BORDER-BOTTOM: #757c7f 1px solid; 
	FONT-STYLE: normal; 
	BACKGROUND-COLOR: #FFFFFF; 
}
.textarea
{
	FONT:11px Tahoma, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT: #757c7f 1px solid; 
	BORDER-TOP: #757c7f 1px solid; 
	font-size: 12px; 
	BORDER-LEFT: #757c7f 1px solid; 
	color: #0063AF; 
	BORDER-BOTTOM: #757c7f 1px solid; 
	FONT-STYLE: normal; 
	BACKGROUND-COLOR: #FFFFFF; 
	WIDTH: 200px;
	height:100px;
}
	.text_register {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	}
	.text_register a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000;
		text-decoration: none;
	}
	.text_register a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000;
		text-decoration: none;
	}
	.text_register a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000;
		text-decoration: underline;
	}
	.text_register a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #000;
		text-decoration: none;
	}
	
	.text_menu_shopping {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666683;
	font-weight: bold;
	text-decoration: none;
	}
	.text_menu_shopping a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #666683;
		font-weight: bold;
		text-decoration: none;
	}
	.text_menu_shopping a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #666683;
		font-weight: bold;
		text-decoration: none;
	}
	.text_menu_shopping a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #00A9DD;
		font-weight: bold;
		text-decoration: underline;
	}
	.text_menu_shopping a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #666683;
		font-weight: bold;
		text-decoration: none;
	}
	.text_tb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	}
	.text_tb a:link{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_tb a:visited{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_tb a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #FF6600;
		text-decoration: underline;
	}
	.text_tb a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	.text_tb , table a:active{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: normal;
		color: #333333;
		text-decoration: none;
	}
	/* MENU */
	/*Credits: By Santosh Setty (http://webdesigninfo.wordpress.com) */
	/*Posted to: Dynamic Drive CSS Library (http://www.dynamicdrive.com/style/) */
	.menu_left{
		float:left;
		padding-left: 300px;
		background: url(menu_left_begin.gif) no-repeat;
		height: 26px;
		width: 10px;
	}
	.menu_center{
		padding-top: 0px;
	}
	.menu_right{
		float:right;
		padding-right: 0px;
		padding-top: 0px;
		background: url(menu_right_end.gif) no-repeat;
		height: 26px;
		width: 10px;
	}
	
	.menu_center{
		padding-top: 0px;
	}
	.menu_center b{ /*onMouseover style*/
	float:left;
	color: #484848;
	background-position:100% 0px;
	/*background: url(menu_line.gif) no-repeat center top;*/
	height: 26px;
	width: 3px;
	}
	.menu{
	float:right;
	
	line-height:normal;
	height: 26px;
	font-size: 12px;
	
	list-style: none;
	}
	.menu ul{
	list-style-type: none;
	margin:0;
	margin-left: 5px; /*Left offset of entire tab menu relative to page*/
	padding:0;
	}
	.menu li{
	display:inline;
	margin:0;
	padding:0;
	}
	.menu a{
	float:left;
	margin:0;
	margin-right: 0px; /*spacing between each tab*/
	padding:0 0 0 9px;
	text-decoration:none;
	cursor: pointer;
	background:url(menu_left.gif) no-repeat left top;
	}
	.menu a span{
	float:left;
	display:block;
	padding: 5px 15px 6px 5px; /*Left - right - */
	font-weight:bold;
	color:#FFFFFF;
	background:url(menu_right.gif) no-repeat right top;
	}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
	.menu a span {float:none;}
	/* End IE5-Mac hack */
	.menu a:hover span {
	color: #FFFFFF;
	}
	.menu a.current{ /*Selected Tab style*/
	background-position:0 -0px; /*Shift background image up to start of 2nd tab image*/
	color: #FFFFFF;
	background:url(menu_over_left.gif) no-repeat left top;
	height: 26px;
	}
	.menu a.current span{ /*Selected Tab style*/
	background-position:100% -82px; /*Shift background image up to start of 2nd tab image*/
	float:left;
	background:url(menu_over_right.gif) no-repeat right top;
	color: #FFFFFF;
	height: 26px;
	}
	.menu a:hover{ /*onMouseover style*/
	background-position:0% 0px; /*Shift background image up to start of 2nd tab image*/
	color: #FFFFFF;
	background:url(menu_over_left.gif) no-repeat left top;
	height: 26px;
	}
	.menu a:hover span{ /*onMouseover style*/
	background-position:100% 0px; /*Shift background image up to start of 2nd tab image*/
	float:left;
	background:url(menu_over_right.gif) no-repeat right top;
	color: #FFFFFF;
	height: 26px;
	}
	
	.tabcontainer{
	clear: left;
	width: 100%; /*width of 2nd level sub menus*/
	height: 26px; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
	position: relative;
	background: url(menu_sub_center.gif) repeat-x; /*tab background image path*/
	list-style: none;
	}
	.menu_sub{
	display:none;
	padding-left: 180px;
	}
	.menu_sub a{
	float:left;
	padding-left: 10px;
	text-decoration:none;
	cursor: pointer;
	}
	
	.menu_sub a span{
	float:left;
	display:block;
	padding: 7px 12px 3px 3px;
	color:#0063AF;
	}
	
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
	.menu_sub a span {float:none;}
	/* End IE5-Mac hack */
	
	.menu_sub a:hover{ /*onMouseover style*/
	background-position: 100% 0px; /*Shift background image up to start of 2nd tab image*/
	color: #0063AF;
	background:url(menu_sub_over_left.html) no-repeat left top;
	height: 26px;
	}
	
	.menu_sub a:hover span{ /*onMouseover style*/
	background-position:100% 0px; /*Shift background image up to start of 2nd tab image*/
	float:left;
	background:url(menu_sub_over_right.html) no-repeat right top;
	color: #1382D0;
	height: 26px;
	}
	
	.menu_sub_select{
	padding-left: 0px;
	}
	.menu_sub_select b{
	float:left;
	margin-right: 10px; /*spacing between each tab*/
	padding-left: 10px;
	padding-top: 7px;
	text-decoration: none;
	cursor: pointer;
	}
	.menu_sub_select b u{
	float: left;
	display: block;
	color: #1382D0;
	}
	.menu_sub_select b{ /*onMouseover style*/
	float:left;
	color: #1382D0;
	background-position:100% 0px;
	background:url(menu_sub_over_left.html) no-repeat left top;
	height: 26px;
	}
	
	.menu_sub_select u{ /*onMouseover style*/
	background-position:100% 0px; /*Shift background image up to start of 2nd tab image*/
	float:left;
	background: url(menu_sub_over_right.html) no-repeat right top;
	color: #1382D0;
	height: 26px;
	}

	.menu_sub_left{
		float:left;
		padding-left: 0px;
		height: 26px;
		background: url(menu_sub_left.html) no-repeat;
	}
	.menu_sub_center{
		padding-top: 0px;
	}
	.menu_sub_center b{ /*onMouseover style*/
	float:left;
	color: #333333;
	background-position:100% 0px;
	background: url(menu_sub_line.html) no-repeat center top;
	height: 26px;
	width: 10px;
	}

	.menu_sub_right{
		float:right;
		padding-right: 0px;
		padding-top: 0px;
		height: 26px;
		background: url(menu_sub_right.html) no-repeat;
	}
	/* END MENU*/
	.menu_s {
	   BORDER-RIGHT: #fff 0px solid; 
	   BORDER-TOP: #fff 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-BOTTOM: 0px; 
	   WIDTH: 100%; 
	   PADDING-TOP: 0px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #485BA8;
      }
	.menu_s A {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #485BA8;
	   BACKGROUND: url(icon_sub.gif) no-repeat 12px 10px;
      }
	.menu_s A:link {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #485BA8;
   	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub.gif) no-repeat 12px 10px;
      }
	.menu_s A:active {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #485BA8;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub.gif) no-repeat 12px 10px;
      }
	.menu_s A:hover 
     {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #485BA8;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 12px 10px;
     }
	.menu_s_select {
	   BORDER-RIGHT: #fff 0px solid; 
	   BORDER-TOP: #fff 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-BOTTOM: 0px; 
	   WIDTH: 100%; 
	   PADDING-TOP: 0px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #000000;
      }
	.menu_s_select A {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   font-weight: bold;
	   color: #ED290A;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 12px 10px;
      }
	.menu_s_select A:link {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #ED290A;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 12px 10px;
      }
	.menu_s_select A:active {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #ED290A;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 12px 10px;
      }
	.menu_s_select A:hover 
     {
	   BORDER-RIGHT: #ffffff 0px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 20px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #ED290A;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 12px 10px;
     }
	.menu_s_s{
	   BORDER-RIGHT: #fff 0px solid; 
	   BORDER-TOP: #fff 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-BOTTOM: 0px; 
	   WIDTH: 100%; 
	   PADDING-TOP: 0px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   font-weight: bold;
	   color: #0063AF;
      }
	.menu_s_s A {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   font-weight: bold;
	   color: #000000;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub.gif) no-repeat 170px 10px;
      }
	.menu_s_s A:link {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #000000;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub.gif) no-repeat 170px 10px;
      }
	.menu_s_s A:active {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #000000;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub.gif) no-repeat 170px 10px;
      }
	.menu_s_s A:hover 
     {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #ED290A;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 170px 10px;
     }
	.menu_s_s_select {
	   BORDER-RIGHT: #fff 0px solid; 
	   BORDER-TOP: #fff 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-BOTTOM: 0px; 
	   WIDTH: 100%; 
	   PADDING-TOP: 0px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #1382D0;
      }
	.menu_s_s_select A {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   font-weight: bold;
	   color: #ED290A;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 170px 10px;
      }
	.menu_s_s_select A:link {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #1382D0;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 170px 10px;
      }
	.menu_s_s_select A:active {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #1382D0;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 170px 10px;
      }
	.menu_s_s_select A:hover 
     {
	   BORDER-RIGHT: #ffffff 1px solid; 
	   BORDER-TOP: #E6E6E6 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 30px;
	   PADDING-BOTTOM: 6px; 
	   PADDING-TOP: 6px; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #1382D0;
	   background-color: #EBF9FE;
	   BACKGROUND: url(icon_sub_over.gif) no-repeat 170px 10px;
     }

.tbldata caption{display:none;}		
table.tbldata{ border-collapse:collapse;clear:both; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color:#FFF;
BORDER-BOTTOM: #ABABAB 1px solid; BORDER-TOP: #ABABAB 1PX SOLID; BORDER-LEFT: #ABABAB 1px solid; BORDER-RIGHT: #ABABAB 1px solid;
}
.tbldata tbody td {border-width: 0 0 1px 0;border-style: solid; padding:2px 0 2px 5px;vertical-align:center;}
.tbldata thead th{text-align:left;border-width:1px 1px 1px 0;border-style:solid;padding:1px 0 1px 5px;background:url(images/px_w.html) repeat-y;}
.tbldata thead th input{margin-bottom:0px;margin-top:-1px;}
.tbldata td img{text-align:right; font-size:11px;}
.tbldata th img{float:right;margin:4px 4px 0 0;} 
.tbldata tr.msgnew{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px;}

.tbldata thead th{border-top-color:#FFF;border-bottom-color:#C1C1C1;border-right-color:#C1C1C1; background-color:#ABABAB;} 
.tbldata thead th.sortcol{background-color:#C1C1C1;}
.tbldata tbody td{border-bottom-color:#E6E6E6; font-size:11px;}
.tbldata tr.selected td {
	background-color: #efefef; 
	border-bottom-color:#dee3e7; 
}

/* /BANNER */
#ja-col1 {
	CLEAR: both; FLOAT: left; OVERFLOW: hidden; WIDTH: 189px;
	margin-top: 0px;
}
.ja-catslwi {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px; POSITION: relative;
}
.ja-catslwi-container {
	Z-INDEX: 1; LEFT: 0px; WIDTH: 189px; BOTTOM: 0px; POSITION: absolute;
}
.ja-catslwi-text {
	OVERFLOW: hidden; POSITION: relative; HEIGHT: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
.ja-catslwi-content {
	LEFT: 0px; WIDTH: 189px; POSITION: absolute; TOP: 0px;
	BACKGROUND-COLOR: #000000;
}
.ja-catslwi-display {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px;
	font-size: 11px;
}
.ja-catslwi-display H3 {
	LETTER-SPACING: normal! important;
	font-size:15px;
}

.fckdetail{
	margin-top:5px;
	margin-bottom:5px;
	padding: 5px 5px 5px 5px;
	background-color:#eef5ee;
}

.fckdetail span{
	font-size:18px;
	color:#FF00FF;
	margin-top:5px;
	margin-bottom:5px;
	padding: 5px 5px 5px 5px;
	background-color:#eef5ee;
}

.thong_tin_product{
	padding-top:8px;
}

.tien_project{
	font-size:14px;
	color:#FF00FF;
}
.thongtin_sp{
	margin-top:8px;
	background-color:#f3fbff;
}

.thongtin_sp h3{
	padding:8px;
	background-color:#def3fc;
}

.noi_dung_thongtin{
	padding-left:8px;
	padding-right:8px;
	padding-bottom:8px;
}

.ghichu_h2{
                font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		
		color: #B51D4C;
		text-decoration: none;
}